.page-header{
    width: 80%;
    background-color: rgb(41, 128, 185);
    margin: 0 auto;
    color:rgb(243, 156, 18);
    h1 {
        text-align-last: center;
        small{
          color:rgb(243, 156, 18);
        }
    }
}
