main {


    .table {

        max-width: 80%;
        margin: 0 auto;


        tbody {
            font-size: 1.25em;
        }


    }

    button {
        margin: 0 0 0.5% 10%;
    }

    section{
      border:2px solid rgb(41, 128, 185);
      margin: 1% 0 1% 10%;
      width:80%;
      box-sizing: border-box;

      label{
        width:7%;
      }
        input{
        width:100%;
        }

        input.ng-invalid.ng-touched{
          border: 1px solid #ff0000;
        }
    }

}
