main {
    .table {
        max-width: 80%;
        margin: 0 auto;

        tbody {
            font-size: 1.25em;
        }
    }

    button {
        background-color: rgb(41, 128, 185);
        margin: 0 0 0.5% 10%;
        color: rgb(243, 156, 18);
    }
}
