main {
    .table {
        max-width: 80%;
        margin: 0 auto;

        tbody {
            font-size: 1.25em;
        }
    }

    button {
        margin: 0 0 0.5% 10%;
    }

    section{
      margin: 1% 0 1% 10%;
      width:80%;

        input.ng-invalid.ng-touched{
        border: 1px solid #ff0000;
      }
    }

}
