main {
    .table {
        max-width: 80%;
        margin: 0 auto;

        tbody {
            font-size: 1.25em;
        }
    }

    button.btn {
        margin: 0.5% 0 0.5% 10%;
    }

    button .add {
        margin: none;
    }

    section {
        margin: 1% 0 3% 10%;
        width: 80%;
        box-sizing: border-box;

        input {
            width: 100%;
        }

        input.ng-invalid.ng-touched {
            border: 1px solid #ff0000;
        }
    }
}
