<!DOCTYPE html>
<html lang='en' ng-app='shopular'>

<head>
    <meta charset="utf-8">
    <title>Shopular</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
</head>

<body>
    <header class="page-header">
        <h1>SHOPULAR <br>&nbsp
       <small>The most Shoptastic deals in the World!</small></h1>
    </header>
    <main ng-controller='ShopController as shopCtrl' class='inner'>
        <button ng-click='shopCtrl.changeCountry(); shopCtrl.changeTable()' class="btn btn-default" type="button">
      United Kingdom </button>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th class='change'>COLOR</th>
                </tr>
                <tr ng-repeat='inventory in shopCtrl.inventory'>
                    <th>{{inventory.name}}</th>
                    <th>{{shopCtrl.priceAdj(inventory) | currency:"$":2}}
                        <img ng-show='inventory.discount > 0'
                         src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'> </th>
                    <th>{{inventory.quantity}}</th>
                    <th>{{inventory.color}}</th>
                </tr>
            </tbody>
        </table>

    </main>

    <section>
    <form>
      <input ='text' name='name' placeholder='Item name'>
      <input ='text' name='price' placeholder='Item price'>
      <input ='text' name='quantity' placeholder='Item  quantity'>
      <input ='text' name='color' placeholder='Item color'>
      <input ='text' name='discount' placeholder='Item discount'>
      <button ='submit' name='Add item'>Add Item</button>
    </form>
    </section>

    <footer>

    </footer>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
    <script src='/js/shop.module.js'></script>
    <script src='/js/shop.controller.js'></script>
</body>

</html>
